[Unit]
Description=lv-link
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/lv-link-%i

[Install]
WantedBy=multi-user.target
