[Unit]
Description=lv-link air keep alive service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/lv-keep-alive.sh

[Install]
WantedBy=multi-user.target
